# Data Mining Project
by Obsa Aba-waji Mirnary Carbajal

## Experiment 1: Linear Regression
In this notebook, we will be looking at a comparison of gas prices with fuel economy. Our hypothesis is that increases in gas prices are what drive the increase in improvements of fuel economy.

In [2]:
%matplotlib inline

## Importing Libs and Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
vehicles = pd.read_csv('data/vehicles.csv', dtype=object)
weekly_gas_all_prices = pd.read_csv('data/GASALLCOVW.csv', index_col=0)
weekly_gas_reg_prices = pd.read_csv('data/GASREGCOVW.csv', index_col=0)
weekly_gas_prem_prices = pd.read_csv('data/GASPRMCOVW.csv', index_col=0)
annually_gas_all_prices = pd.read_csv('data/GASALLCOVA.csv', index_col=0)
annually_gas_reg_prices = pd.read_csv('data/GASREGCOVA.csv', index_col=0)
annually_gas_prem_prices = pd.read_csv('data/GASPRMCOVA.csv', index_col=0)

ValueError: could not convert string to float: '2017-10-16'

## Check to see that Data has been loaded

Looking at the head of the data to make sure that the data has been loaded into their dataframes.

In [23]:
vehicles.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714285714287,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.96454545454546,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207777777777778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.96454545454546,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347894736842107,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [16]:
gas_all_prices.head()

            GASALLCOVW  all_velocity
DATE
1994-11-28       1.175           NaN
1994-12-05       1.143        -0.032
1994-12-12       1.118        -0.025
1994-12-19       1.099        -0.019
1994-12-26       1.088        -0.011

In [17]:
gas_reg_prices.head()
gas_reg_prices.columns

Index(['GASREGCOVW'], dtype='object')

In [14]:
gas_prem_prices.head()

            GASPRMCOVW  prem_velocity
DATE
1994-11-28       1.270            NaN
1994-12-05       1.260         -0.010
1994-12-12       1.244         -0.016
1994-12-19       1.233         -0.011
1994-12-26       1.222         -0.011

## Cleaning up vehicles data

The vehicles data has a lot of fields that we will not be needing and is not ogranized in a logical manner for our needs.

In [5]:
columns_for_vehicles = ['year',
                        'make',
                        'model',
                        'VClass',
                        'fuelType',
                        'fuelType1',
                        'city08',
                        'highway08',
                        'comb08']
vehicles = vehicles[columns_for_vehicles]
vehicles.head()

,year,make,model,VClass,fuelType,fuelType1,city08,highway08,comb08
0,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,Regular Gasoline,19,25,21
1,1985,Ferrari,Testarossa,Two Seaters,Regular,Regular Gasoline,9,14,11
2,1985,Dodge,Charger,Subcompact Cars,Regular,Regular Gasoline,23,33,27
3,1985,Dodge,B150/B250 Wagon 2WD,Vans,Regular,Regular Gasoline,10,12,11
4,1993,Subaru,Legacy AWD Turbo,Compact Cars,Premium,Premium Gasoline,17,23,19

## Cleaning up Gasoline data

The next piece of data we need to clean up is our gas prices data. Our vehicle data has years prior to 1993, but the data is not complete, so we will be focusing on gas prices starting in 1994.

In [10]:
gas_prem_prices['prem_velocity'] = gas_prem_prices.diff()
gas_all_prices['all_velocity'] = gas_all_prices.diff()
#gas_reg_prices['reg_velocity'] = gas_reg_prices.diff()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
temp = gas_all_prices.join(gas_prem_prices)
joined_gas_prices = temp.join(gas_reg_prices)
len(joined_gas_prices)

1195

# FIX NEEDED
SO I need to create a function or loop that will loop through the joined_gas_prices dataframe,
then it needs to create the diff() from that column. 
Steps:
* Join all the data into one dataframe
* loop through each col, then create a velocity col that corresponds to that col
* clean it up, so that the velocity follows the proper gas fame
* change the names of the gas price columns to something clearer.

In [31]:
joined_gas_prices['reg_velocity'] = joined_gas_prices['GASREGCOVW'].astype(float).diff()

In [32]:
joined_gas_prices.index
joined_gas_prices = joined_gas_prices.reindex(joined_gas_prices.index.rename('Date'))
joined_gas_prices.head()

,GASALLCOVW,all_velocity,GASPRMCOVW,prem_velocity,GASREGCOVW,reg_velocity
Date,,,,,,
1994-11-28,1.175,NaN,1.270,NaN,1.082,NaN
1994-12-05,1.143,-0.032,1.260,-0.010,1.075,-0.007
1994-12-12,1.118,-0.025,1.244,-0.016,1.064,-0.011
1994-12-19,1.099,-0.019,1.233,-0.011,1.056,-0.008
1994-12-26,1.088,-0.011,1.222,-0.011,1.044,-0.012

## Experiment

Now that the data has been cleaned, we can focus on the first experiment. In this experiment, we will be looking at the speed changes of gas prices over the years, then comparing their effect to the effect of increases in fuel effiency.